p {font-size: 1.2rem !important;}
img {width: 100%;}
h2.sub-title {position: relative;padding-left: 1.2rem;font-size: 1.6rem;}
h2.sub-title:before {content: "";display: block;position: absolute;left: 0;top: 55%;transform: translateY(-50%);width: 0.5rem;height: 2.4rem;background-color: #BC8F8F;}
.disqus-comments {margin-top: 2.5rem;}
.btn-primary {background-color: #fff !important; border-color: #333 !important; color: #333 !important;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {background-color: #333 !important; border-color: #333 !important; color: #fff !important;}
.highlight-text {display: inline-block; padding: 3px 8px 5px 8px; background-color: #f8f8f8; word-break: break-word;}
.point-text {display: inline-block; padding: 3px 8px 5px 8px; background-color: #FFF0F5;}
.zoom-image {cursor: pointer;}
#modal-popup {position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.9); overflow: hidden; z-index:1031; display: none;}
#modal-popup .close {display: inline-block; position: absolute; right: 3%; top: 3%; font-size: 4.2rem; font-weight: 700; color: #f1f1f1; transition: 0.3s;}
#modal-popup .close:hover,#modal-popup .close:focus {color: #bbb; cursor: pointer;}
#modal-popup .popup-content {width: 80%; max-width: 1200px; height: 80%; overflow-y: auto; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}